.dog-wrapper-view {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.6rem 0.6rem;
  border-radius: 4px;
  display: flex;
  gap: 0.4rem;
  width: 100%;

  .form-group {
    margin-bottom: 0;
  }

  label {
    display: none;
  }

  p {
    text-wrap-mode: nowrap;
    font-size: 0.7rem;
  }

  .dog-name {
    font-weight: 600;
  }

  .dog-age {
    display: none;
  }

  .dog-sex {
    display: none;
  }

  .dog-castrated {
    display: none;
  }

  .dog-division {
    font-size: 0.7rem;
  }
}

.dog-wrapper-edit {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding: 1rem;

  h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  .division-options {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    .division-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.4rem;
  
      label {
        opacity: 1 !important;
        margin-bottom: 0;
      }
    }
  }

}

.dog-division {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      text-wrap-mode: nowrap;
    }
  }
}

.dog-item {
  display: flex;
  gap: 0.4rem;
  align-items: flex-start;
}

.dog-edit-button {
  background: transparent;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 42px;
  background: rgba(0, 0, 0, 0.3);

  img {
    width: 20px;
    height: 20px;
  }
}

.dog-item dialog {
  width: 100%;
  max-width: none;
  padding: 0;
}