.dog-wrapper-view {
  background: rgba(0, 0, 0, 0.05);
  padding: 0.6rem 0.6rem;
  border-radius: 4px;
  display: flex;
  gap: 0.4rem;

  .form-group {
    margin-bottom: 0;
  }

  label {
    display: none;
  }

  p {
    text-wrap-mode: nowrap;
    font-size: 0.7rem;
  }

  .dog-name {
    font-weight: 600;
  }

  .dog-age {
    display: none;
  }

  .dog-sex {
    display: none;
  }

  .dog-castrated {
    display: none;
  }

  .dog-division {
    font-size: 0.7rem;
  }
}

.dog-wrapper-edit {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.dog-division {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      text-wrap-mode: nowrap;
    }
  }
}

.dog-item {
  display: flex;
  gap: 0.4rem;
  align-items: flex-start;
}

.dog-edit-button {
  background: transparent;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}